<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fullName, :class => 'control-label' %><br>
    <%= f.text_field :fullName, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :points, :class => 'control-label' %><br>
    <%= f.number_field :points, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :shoptechEmail, :class => 'control-label' %><br>
    <%= f.text_field :shoptechEmail, :class => 'form-control' %>
  </div>
  <div class="actions">
	  <%= f.submit :class => 'btn btn-primary' %>
	  <%= f.submit 'Cancel', :class => "btn btn-default", :data => { :dismiss => 'modal' }, :onclick => "form_submitted = true; return false;"%>
  </div>
<% end %>
