<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @player.fullName %>
</p>

<p>
  <strong>Points:</strong>
  <%= @player.points %>
</p>

<p>
  <strong>Shoptechemail:</strong>
  <%= @player.shoptechEmail %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
